## Data exploration and leading

In [62]:
import pandas as pd

# conectando com o banco MySQL
import pymysql
from sqlalchemy import create_engine

In [63]:
print(pd.__version__)

2.2.3

In [64]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')
display(df.head())
df.shape

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

(10051, 11)

In [65]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [66]:
df.describe()
# Na coluna quantity algo parece errado, avaliar mais!

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [67]:
df.info()
# unit_price deveria ser um number
# quantity e unit_price estao com 10020 valores, enquanto as outras colunas tem 10051

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [68]:
# Procurando duplicates
df.duplicated().sum()

np.int64(51)

In [69]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [70]:
df.shape

(10000, 11)

In [71]:
# Procurando missing values
df.isnull().sum()
# unit_price e quantity tem 31 missing values

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [72]:
# droppando as colunas com valores nulos:

df.dropna(inplace=True)

In [73]:
# Verificando
print(df.isnull().sum())
print(df.shape)

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64
(9969, 11)

In [74]:
# convertendo unit_price para float

df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [75]:
display(df.head())
print(df.info())

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB
None

In [76]:
# Criando uma coluna total_price

df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [77]:
df['total'] = df['unit_price'] * df['quantity']
df.tail()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
9995,9996,WALM056,Rowlett,Fashion accessories,37.0,3.0,03/08/23,10:10:00,Cash,3.0,0.33,111.0
9996,9997,WALM030,Richardson,Home and lifestyle,58.0,2.0,22/02/21,14:20:00,Cash,7.0,0.48,116.0
9997,9998,WALM050,Victoria,Fashion accessories,52.0,3.0,15/06/23,16:00:00,Credit card,4.0,0.48,156.0
9998,9999,WALM032,Tyler,Home and lifestyle,79.0,2.0,25/02/21,12:25:00,Cash,7.0,0.48,158.0
9999,10000,WALM069,Rockwall,Fashion accessories,62.0,3.0,26/09/20,9:48:00,Cash,3.0,0.33,186.0

In [78]:

# Loguin credentials  to connect to MySQL
import mysql.connector

try:
    # Configuração da conexão
    conexao = mysql.connector.connect(
        host="localhost",
        port=3306,
        user="root",
        password="2025TI"
    )

    if conexao.is_connected():
        print("Conexão ao MySQL bem-sucedida!")

except mysql.connector.Error as erro:
    print(f"Falha na conexão: {erro}")

finally:
    if 'conexao' in locals() and conexao.is_connected():
        conexao.close()
        print("Conexão fechada.")

Conexão ao MySQL bem-sucedida!
Conexão fechada.

In [79]:
df.shape

(9969, 12)

In [80]:
df.to_csv('walmart_clean_data.csv', index=False)